<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>
<body>
    <h1 id="first_title"> Actividades </h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('ver_actividades', page=1) }}"> Volver </a></li>
        </ul>
    </nav>

    <div id="resumen_actividades">
        <table>
            <thead>
                <tr>
                    <th><b>ID</b></th>
                    <th><b>Fecha Inicio</b></th>
                    <th><b>Sector</b></th>
                    <th><b>Nombre</b></th>
                    <th><b>Tema</b></th>                
                    <th><b>Nota</b></th>
                    <th></th>
                </tr>
            </thead>
        <tbody>
            {% if actividades %}
                {% for actividad in actividades %}
                    <tr onclick="window.location='{{ url_for('actividad', num = actividad.num ) }}'" style="cursor: pointer;">
                        <td>{{actividad.num}}</td>
                        <td>{{actividad.fecha_inicio}}</td>
                        <td>{{actividad.sector}}</td>
                        <td>{{actividad.nombre}}</td>
                        <td>{{actividad.tema}}</td>
                        <td>{{actividad.nota}}</td>
                        <td> Evaluar </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        </table>
    </div>
    <div>
        <!-- Pagination Buttons -->
        <div style="text-align: center; margin-top: 20px;">
            {% if page > 1 %}
                <a href="{{ url_for('ver_actividades', page=page - 1) }}" class="pagination-button">Anterior</a>
            {% endif %}
    
            <span style="color: white;">Página {{ page }} de {{ total_pages }}</span>
    
            {% if page < total_pages %}
                <a href="{{ url_for('ver_actividades', page=page + 1) }}" class="pagination-button">Siguiente</a>
            {% endif %}
        </div>
    </div>
</body>

</html>
