<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1 id="first_title"> Estadísticas </h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}"> Volver </a></li>
        </ul>
    </nav>
    <div style="display: flex; flex-direction: column; gap: 20px; align-items: center;">
        <canvas id="lineChart"></canvas>
        <canvas id="pieChart"></canvas>
        <canvas id="barChart"></canvas>
    </div>
    
    <script src="{{ url_for('static', filename='js/linechart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/piechart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
</body>

