<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ nombre }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/comments.js')}}"></script>
</head>
<body>
    <h1 id="first_title">Actividad {{ num }}</h1>
    <nav>
        <ul>
            <li><a href="/"> Volver</a></li>
        </ul>
    </nav>
    <table>
    <thead>
        <tr>
            <th><b>Región</b></th>
            <th><b>Comuna</b></th>
            <th><b>Sector</b></th>
            <th><b>Nombre</b></th>
            <th><b>Email</b></th>
            <th><b>Celular</b></th>
            <th><b>Fecha Inicio</b></th>
            <th><b>Fecha Termino</b></th>
            <th><b>Tema</b></th>
            <th><b>Otro</b></th>
            <th><b>Contacto</b></th>
            <th><b>Descripción</b></th>
            <th><b>Foto</b></th>
        </tr>
    </thead>
    {% if actividad %}
        <tr>
            <td>{{actividad.region}}</td>
            <td>{{actividad.comuna}}</td>
            <td>{{actividad.sector}}</td>
            <td>{{actividad.nombre}}</td>
            <td>{{actividad.email}}</td>
            <td>{{actividad.celular}}</td>
            <td>{{actividad.fecha_inicio}}</td>
            <td>{{actividad.fecha_termino}}</td>
            <td>{{actividad.tema}}</td>
            <td>{{actividad.otro}}</td>
            <td>{{actividad.social}}: {{actividad.cuenta}}</td>
            <td>{{actividad.descripcion}}</td>
            <td><img src = "{{actividad.foto}}" alt="Placeholder Image" class="expandable" onclick="toggleExpand(this)"></td>
        </tr>
    
    </table>
    <h2 id="first_title">Comentarios</h2>
    <form id="commentForm" action="/actividad/{{ actividad.num }}/comentarios/agregar" method="post" style="display: flex; flex-direction: column; align-items: center; margin-bottom: 20px;">
        <div style="margin-bottom: 15px; width: 100%; max-width: 500px; color: white;">
            <label for="commentName">Nombre:</label>
            <input type="text" id="commentName" name="commentName" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;"><br>
        </div>
        <div style="margin-bottom: 15px; width: 100%; max-width: 500px; color: white;">
            <label for="commentText">Comentario:</label>
            <textarea id="commentText" name="commentText" rows="4" cols="50" required style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;"></textarea><br>
        </div>
        <button type="submit" style="padding: 10px 20px; background-color: #333; color: white; border: none; border-radius: 5px; cursor: pointer;">Enviar</button>
    </form>
    {% endif %}
    <div id="commentsSection" style="margin-top: 20px; text-align: center; color: white;">
        <h3>Comentarios enviados</h3>
        <ul id="commentsList" style="list-style-type: none; padding: 0;">
        </ul>
    </div>
    <script>
        function toggleExpand(img) {
            const modal = document.getElementById("imageModal");
            const modalImage = document.getElementById("modalImage");
    
            modal.style.display = "flex"; // Show the modal
            modalImage.src = img.src; // Set the modal image source to the clicked image
        }
    
        function closeImageModal() {
        const modal = document.getElementById("imageModal");
        modal.style.display = "none"; // Hide the modal
    }
    </script>
</body>
</html>