<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>
<body>
    <h1 id="first_title">Bienvenido a mi página</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('agregar_actividad')}}">Agregar actividad</a></li>
            <li><a href="{{ url_for('ver_actividades', page=1) }}">Ver actividades</a></li>
            <li><a href="{{ url_for('estadisticas')}}">Estadísticas</a></li>
        </ul>
    </nav>

    <div id="resumen_evaluaciones">
        <h2> Actividades más recientes </h2>
        <table>
            <thead>
                <tr>
                    <th><b>Nombre de Actividad</b></th>
                    <th><b>Fecha de Inicio</b></th>
                    <th><b>Comuna</b></th>
                    <th><b>Sector</b></th>
                    <th><b>Descripción</b></th>
                    <th><b>Fotos</b></th>
                </tr>
            </thead>
        <tbody>
            {% if actividades %}
                {% for actividad in actividades %}
                    <tr>
                        <td><a href="{{ url_for('actividad', num = actividad.num ) }}"> {{actividad.nombre}} </a></td>
                        <td>{{actividad.fecha_inicio}}</td>
                        <td>{{actividad.comuna}}</td>
                        <td>{{actividad.sector}}</td>
                        <td>{{actividad.descripcion}}</td>
                        <td><img src = "{{actividad.foto}}" alt="Placeholder Image" class="expandable" onclick="toggleExpand(this)"></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        </table>
    </div>
</body>
</html>

